@{
    Layout = "_layout";
}
<h3>Home</h3>
id: @ViewBag.id
<br />
<br />
<a asp-area="Admin" asp-controller="Dashboard" asp-action="Index">Dashboard</a>
<a asp-area="Customer" asp-controller="Invoice" asp-action="Index"></a>